.promo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
  }
  
  .promo-content {
    text-align: center;
  }

  .h2_promo{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .promo-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .promo-content button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #ff6347;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }